<h1>Welcome to EazyRecipe</h1>
<div>

<%= link_to "Got recipe to share?", new_recipe_path, class: "btn btn-default" %>
<br>
<div class="list-index">
<button id="show-list">Show list</button>
<div class="list">
<%= render partial: "/fridges/show" %>
</div>
</div>
</div>
    <div class="search-form">
      <%= form_tag search_path do %>
        <%= label_tag "search" %>
        <%= text_field_tag "search", nil, list: "list", placeholder: "Leftover ingredient?" %>
        <datalist id="list"></datalist>
      <%end%>
    </div>
    

<% @recipe.each_slice(3) do |recipes|%>
<div class="row">
<% recipes.each do |recipe|%>
  <div class="col-md-4">
  <span><%= link_to recipe.title, recipe_path(recipe) %></span>
  <p><%= link_to image_tag(recipe.image_url(:thumb).to_s), recipe_path(recipe) %></p>
  <p>Description: <%= recipe.description %></p>
  <span>By: <%= recipe.user.first_name %></span>
  </div>
<%end%>
</div>
<%end%>

