<div class="search-form">
    <%= form_tag search_path do %>
      <%= label_tag "search" %>
      <%= text_field_tag "search", nil, list: "list", placeholder: "Search again?"%>
      <datalist id="list"></datalist>
    <%end%>
</div>
Search result: <%= "#{params[:search]}"%>
<% if @result.empty?%>
<p>There is no recipe match found!</p>
<%else%>
<% @result.each_slice(3) do |recipes|%>
<div class="row">
<% recipes.each do |recipe|%>
  <div class="col-md-4">
  <span><%= link_to recipe.title, recipe_path(recipe) %></span>
  <p><%= link_to image_tag(recipe.image_url(:thumb).to_s), recipe_path(recipe) %></p>
  <p>Description: <%= recipe.description %></p>
  <span>By: <%= recipe.user.first_name %></span>
  </div>
<%end%>
</div>
<%end%>
<%end%>