
<div>
<p>First Name: <%= form.text_field :first_name %></p>
<p>Last Name: <%= form.text_field :last_name %></p>
<p>Email: <%= form.text_field :email %></p>
<p>Password: <%= form.password_field :password %></p>
<p>Password Confirmation: <%= form.password_field :password_confirmation %></p>
</div>